/CzlowiekNatura Przemek/JavaApplication6/nbproject/private/
/CzlowiekNatura Przemek/CzłowiekNatura/build/
/CzlowiekNatura Przemek/Człowiek zyje z Natura/nbproject/private/
/CzlowiekNatura Przemek/Człowiek zyje z Natura/build/